# Standard VS.NET and ReSharper Foo
/packages
*bin/
*obj/
*.csproj.user
_ReSharper*
*.user
*.suo*
*.cache
* Thumbs.db
*.csproj.ReSharper
*.nupkg

*.orig
*~
/.vs/DContainer/v15
/dcontainer
/.vs/slnx.sqlite
/.vs
