<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dcontainer" type="DContainer.Configuration.DContainerSection, DContainer"/>
  </configSections>
  <dcontainer>
    <contextProvider type="DContainer.Unity.ServiceContextProvider, DContainer.Unity"/>
  </dcontainer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
